.start-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content-overlay {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.article-start {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 1rem;
}

.article-start h1 {
  color: #fff;
  font-size: 3rem;
}

.article-start p {
  color: #fff;
  font-size: 1.5rem;
}

.prospection-button {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  border: solid 1px orange;
  padding: 1rem;
  border-radius: 10px;
  transition: 0.4s;
}

.prospection-button:hover {
  box-shadow: 0 0 10px #ffa200, 0 0 20px #ffa200, 0 0 30px #ffa200,
    0 0 40px #ffa200, 0 0 60px #ffa200, 0 0 80px #ffa200;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .article-start h1 {
    font-size: 2.5rem;
  }

  .article-start p {
    font-size: 1.2rem;
  }

  .prospection-button {
    font-size: 1.2rem;
    padding: 0.8rem;
  }
}
